<a mat-button color="primary" [routerLink]="['/']">Volver</a>

<form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm">

  <mat-form-field class="example-full-width">
    <input matInput
           placeholder="Título"
           name="title"
           ngModel>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput
              placeholder="Descripción"
              name="description"
              ngModel></textarea>
  </mat-form-field>

  <mat-grid-list cols="3" rowHeight="3:2">

    <mat-grid-tile>
      <mat-radio-group [ngModel] name="icon">
        <mat-radio-button value="">
          <i mat-list-icon
             class="material-icons">help</i>
          <small>Sin icono</small>
        </mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let icon of icons">
      <mat-radio-group [ngModel] name="icon">
        <mat-radio-button value="devicon-{{icon.name}}-{{getIconVersion(icon)}}">
          <i mat-list-icon
             class="devicon-{{icon.name}}-{{getIconVersion(icon)}} colored icon"></i>
        </mat-radio-button>
      </mat-radio-group>

    </mat-grid-tile>

  </mat-grid-list>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
</form>
