<form [formGroup]="signInForm">

  <mat-form-field class="example-full-width">
    <input matInput
           type="email"
           placeholder="email"
           formControlName="email"
           id="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput
           type="password"
           placeholder="Contraseña"
           id="password"
           formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit"  (click)="onSubmit()">Iniciar sesión</button>

  <p style="text-align: center">
    <a mat-button color="primary" [routerLink]="['/signup']">Crear cuenta</a>
  </p>
</form>
