<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="icon {{ question.icon }}"></div>
    <mat-card-title>{{ question.title }}</mat-card-title>
    <mat-card-subtitle><small>bmonsalves - {{ question.createdAt | amLocale:'es' | amTimeAgo }}</small></mat-card-subtitle>
  </mat-card-header>
  <!--img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"-->
  <mat-card-content>
    <p>{{ question.description }}</p>
  </mat-card-content>
  <!--mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions-->
</mat-card>

<div class="answers">
  <h2>Respuestas</h2>
  <ul>
    <li>
      <b>bmonsalves</b>
      <p>respuesta...</p>
    </li>
  </ul>
  <app-answer-form></app-answer-form>
</div>
